* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar  */
.nav-main {
  background-color: #fff !important;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-image {
  width: 60%;
  height: 30%;
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
nav ul li a {
  font-size: 1.05rem !important;
  color: #007991 !important;
}
.nav-list-logo {
  width: 20px;
  height: 20px;
  color: #007991;
  fill: #007991;
}
.nav-list-logo-main {
  background-color: #ecf0f2;
  padding: 0.75rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}
.navbar-toggler {
  border: none !important;
  outline: none !important;
}
.navbar-collapse {
  display: flex;
  justify-content: flex-start !important;
}

/* banner  */
.banner-main {
  background-color: #ecf0f2;
  padding: 3rem 5rem;
}
.banner-main-text-1,
.banner-main-text-2 {
  font-weight: 700;
  font-size: 5.5rem;
}
.banner-main-text-1 {
  color: #00384d;
}
.banner-main-text-2 {
  color: #025869;
}
.banner-description-1,
.banner-description-2 {
  color: #22323d !important;
}
.banner-description-1 {
  font-size: 2.5rem;
}
.banner-description-2 {
  font-size: 1rem;
}
.banner-inner-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-arrow-right {
  font-size: 2.25rem;
  color: #f3774e;
}
.banner-input-label {
  color: #00384d;
  font-size: 2.5rem;
}
.banner-inner-right input {
  border: 1px solid #00384d;
  background-color: #fff;
  padding: 0.5rem 4rem 0.5rem 1rem;
  border-radius: 50px;
}
.subscribe-btn {
  background-color: #f3774e;
  padding: 0.5rem 1.75rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-top: 4rem;
}

/* logos  */
.logo-main {
  background-color: #fff;
  padding: 1rem 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 772px) {
  nav ul {
    margin: 1rem 0;
  }
  nav ul li {
    justify-content: flex-start;
    margin: 0.5rem 0;
  }
  .banner-inner-right {
    flex-direction: column;
  }
  .subscribe-btn {
    margin-top: 2rem;
  }
  .banner-main-text-1,
  .banner-main-text-2 {
    font-weight: 700;
    font-size: 4rem;
  }
  .logo-wrapper {
    flex-direction: column;
  }
}
